<div class="base-container container-med-w bg-clr3 border-rnd-full">
    <form method="POST" class="flex-col-container gap-med">
        <div class="seperator label">
            <hr>
            <div>account login</div>
            <hr>
        </div>
        <div class="flex-resp-container gap-thin full-w">
            <input class="input-height border-resp-left full-w bg-clr2 center" name="email" type="text" autocomplete="off" placeholder="email" />
            <input class="input-height border-resp-right full-w bg-clr2 center" name="password" type="password" autocomplete="off" placeholder="password" />
        </div>
        <div class="flex-col-container gap-thin full-w">
            <button class="border-rnd-full full-w bg-clr4 fg-clr1">LOGIN</button>
            <div class="seperator">
                <hr>
                <div>or</div>
                <hr>
            </div>
            <button class="border-rnd-full full-w bg-clr4 fg-clr1">REGISTER</button>
        </div>
    </form>
</div>