<div class="base-container container-med-w bg-light3 border-rnd-full">
    <form method="POST" class="flex-col-container gap-med">
        <div class="seperator label">
            <hr>
            <div>account login</div>
            <hr>
        </div>
        <div class="flex-resp-container gap-thin full-w">
            <input class="border-resp-left full-w bg-light2 center" name="email" type="text" autocomplete="off" placeholder="email" />
            <input class="border-resp-right full-w bg-light2 center" name="password" type="password" autocomplete="off" placeholder="password" />
        </div>
        <div class="seperator label">
            <hr>
            <div>date of birth</div>
            <hr>
        </div>
        <div class="flex-row-container gap-thin full-w">
            <input id="dob-day" class="border-rnd-left full-w bg-light2 center" name="day" type="number" autocomplete="off" placeholder="day" />

            <input id="dob-month" class="full-w bg-light2 center" name="month" type="number" autocomplete="off" placeholder="month" />

            <input id="dob-year" class=" border-rnd-right full-w bg-light2 center" name="year" type="number" autocomplete="off" placeholder="year" />
        </div>
        <div class="flex-col-container gap-thin full-w">
            <button class="border-rnd-full full-w bg-light4 fg-light1">REGISTER</button>
            <div class="seperator">
                <hr>
                <div>or</div>
                <hr>
            </div>
            <button class="border-rnd-full full-w bg-light4 fg-light1">LOGIN</button>
        </div>
    </form>
</div>