:root {
    --clr-primary1: #D7CEC7;
    --clr-primary2: #565656;
    --clr-primary3: #C09F80;
    --clr-primary4: #76323F;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@keyframes flash {
    0% {
        filter: brightness(100%);
    }
    25% {
        filter: brightness(75%);
    }
    100% {
        filter: brightness(100%);
    }
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    line-height: 1.5;
    font-weight: normal;
    font-style: normal;
    font-family: 'Roboto', sans-s;
    font-size: 1.7rem;
    height: 100%;
}

header {
    flex: 0 0 auto;
    margin: 3rem 0;
}

svg {
    width: 100%;
}

svg.def-only {
    height: 0;
    width: 0;
    display: none;
}

input {
    outline: none;
    font-size: 1.8rem;
    padding: 1em;
    color: var(--clr-primary1);
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::placeholder {
    color: var(--clr-primary1);
    opacity: 0.3;
    font-style: italic;
    text-align: center;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    background-color: var(--clr-primary2);
    color: var(--clr-primary1);
    width: 100%;
    text-align: center;
    cursor: pointer;
}

input[type="radio"]:checked+label {
    background-color: var(--clr-primary1);
    color: var(--clr-primary2)
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
}

label:hover,
input:focus,
input:hover,
input:active,
button:focus,
button:hover,
button:active {
    animation: flash 0.5s linear;
}

label {
    transition: all 0.5s;
}

button {
    display: inline-block;
    cursor: pointer;
    outline: none;
    font-size: 0.67em;
    font-weight: bold;
    letter-spacing: 0.2em;
    height: 4rem;
    min-width: 6rem;
    z-index: 1;
}

footer {
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
    flex: 0 0 3rem;
}

ul {
    height: 100%;
    overflow-y: auto;
}

li {
    list-style: none;
    word-break: break-word;
}

li:nth-child(even) {
    background: #00000010;
}

.bg-clr1 {
    background: var(--clr-primary1);
}

.fg-clr1 {
    color: var(--clr-primary1);
    fill: var(--clr-primary1);
}

.bg-clr2 {
    background: var(--clr-primary2);
}

.fg-clr2 {
    color: var(--clr-primary2);
    fill: var(--clr-primary2);
}

.bg-clr3 {
    background: var(--clr-primary3);
}

.fg-clr3 {
    color: var(--clr-primary3);
    fill: var(--clr-primary3);
}

.bg-clr4 {
    background: var(--clr-primary4);
}

.fg-clr4 {
    color: var(--clr-primary4);
    fill: var(--clr-primary4);
}

.shadow {
    box-shadow: 8px 8px 5px #00000070;
}

.border-rnd-full {
    border-radius: 2rem;
}

.border-rnd-left {
    border-radius: 2rem 0 0 2rem;
}

.border-rnd-right {
    border-radius: 0 2rem 2rem 0;
}

.border-resp-left {
    border-radius: 2rem 0 0 2rem;
}

.border-resp-right {
    border-radius: 0 2rem 2rem 0;
}

.flex-col-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.5rem;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-resp-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gap-thin {
    gap: 0.25rem;
}

.gap-med {
    gap: 1rem;
}

.gap-thick {
    gap: 2rem;
}

.main-content {
    max-width: 100%;
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0 3rem;
}

.base-container {
    max-width: max(100%, 35rem);
    padding: 2rem;
}

.container-large-w {
    width: 110rem;
}

.container-med-w {
    width: 65rem;
}

.join-container {
    width: 90rem;
    max-width: 100%;
    margin-top: 9rem;
}

.system-message {
    font-style: italic;
}

.title-height {
    height: 7rem;
}

.full-hw {
    height: 100%;
    width: 100%;
}

.full-w {
    width: 100%;
}

.messages-container {
    flex: 1 1 auto;
    overflow-y: hidden;
}

.send-container {
    flex: 1 1 auto;
}

.seperator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.seperator>hr {
    width: 100%;
    height: 1.2px;
}

.seperator>div {
    font-size: 1.5rem;
    font-style: italic;
    color: var(--clr-primary4);
    white-space: nowrap;
}

.red>hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--clr-primary4), rgba(0, 0, 0, 0));
}

.grey>hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--clr-primary2), rgba(0, 0, 0, 0));
    opacity: 0.75;
}

.red>div {
    color: var(--clr-primary4);
}

.grey>div {
    color: var(--clr-primary2);
}

.bottom-spacer {
    margin-bottom: 2rem;
}

.top-spacer {
    margin-top: 2rem;
}

.input-height {
    height: 3.5rem;
}

.center {
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .flex-resp-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .border-resp-right,
    .border-resp-left,
    .border-resp-middle {
        border-radius: 2rem;
    }
}