
/* font-family: 'Odibee Sans', cursive;
font-family: 'Roboto', sans-serif; */

/* 
#687864
#31708E
#5085A5
#8FC1E3
#F7F9FB 
*/

.colors {
    background-color: #687864;
    background-color: #31708E;
    background-color: #5085A5;
    background-color: #8FC1E3;
    background-color: #F7F9FB;
}

.background-light {
    background-color: #F7F9FB;
}

.color-light {
    color: #F7F9FB;
}

.background-blue1 {
    background-color: #8FC1E3;
}

.color-blue1 {
    color: #8FC1E3;
}


.background-blue2 {
    background-color: #5085A5;
}

.color-blue2 {
    color: #5085A5;
}


.background-blue3 {
    background-color: #31708E;
}

.color-blue3 {
    color: #31708E;
}

.background-grey {
    background-color: #687864;
}

.color-grey {
    color: #687864;
}

.shadow {
    box-shadow: 5px 10px rgb(0 0 0 / 30%);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-style: normal;    
}

html {
    font-size: 62.5%
}

body {
    font-family: 'Roboto', sans-serif; 
    font-size: 2rem;
    display: flex;
    justify-content: center;    
}

button {
    align-items: center;
    height: 4rem;
    justify-content: center;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: inherit;
    cursor: pointer;
}

button:hover {
    background-color: #5085A5;
}

input[type="text"] {
    height: inherit;
    font-size: inherit;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

input[type="text"]:focus {
    outline: none;    
}

input[type="text"]::-webkit-input-placeholder { /* Edge */
    padding-left: 1em;
    color:#8FC1E3;
    font-style: italic;
    letter-spacing: 0.4em;
    text-align: justify;
}
  
input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    padding-left: 1em;
    color:#8FC1E3;
    font-style: italic;
    letter-spacing: 0.4em;
    text-align: justify;
}

header {
    font-family: 'Odibee Sans', cursive;
    font-size: 5.5rem;
    text-indent: 0.45rem;
    letter-spacing: 0.45em;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
  
#app-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#content {
    height: 75vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 80vw;
}

#chat-container {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#messages-container {
    width: 100%;
    flex-grow: 19;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-bottom: 3rem;
    font-size: inherit;
}

#send-container {
    width: 100%;
    flex-grow: 1;
}

#send-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 4rem;
}

#send-input {
    flex-grow: 85;
    user-select: none;
}

#send-button {    
    flex-grow: 15;
}

#join-container {
    height: 75%;
    width: 50%;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}

#join-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 30px;
    width: 100%;
}

#join-input {
    flex-grow: 95;
    min-width: 140px;
}

#join-button {
    flex-grow: 5;
}
