
/* font-family: 'Odibee Sans', cursive;
font-family: 'Roboto', sans-serif; */

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-style: normal;    
    font-family: 'Roboto', sans-serif; 
}

html {
    font-size: 62.5%
}

:root {
    --clr-primary-white: #F7F9FB;
    --clr-primary-blue1: #8FC1E3;
    --clr-primary-blue2: #5085A5;
    --clr-primary-blue3: #31708E;
    --clr-primary-gray: #687864;
}


.bg-white {
    background: var(--clr-primary-white);
}

.white {
    color: var(--clr-primary-white);
}


.bg-blue1 {
    background: var(--clr-primary-blue1);
}

.blue1 {
    color: var(--clr-primary-blue1);
}


.bg-blue2 {
    background: var(--clr-primary-blue2);
}

.blue2 {
    color: var(--clr-primary-blue2);
}


.bg-blue3 {
    background: var(--clr-primary-blue3);
}

.blue3 {
    color: var(--clr-primary-blue3);
}


.bg-gray {
    background: var(--clr-primary-gray);
}

.gray {
    color: var(--clr-primary-gray);
}



.shadow {
    box-shadow: 5px 10px rgb(0 0 0 / 30%);
}


.button {
    cursor: pointer;
    height: inherit;
}

.dot {
    height: 1.5em;
    width: 1.5em;
    display: block;
    margin-inline: auto;
    border-radius: 0.8em;
}

.button-trans, .dot-trans {
    transition: 0.5s;    
}

.button-trans:hover {
    background-color: var(--clr-primary-white);
}

.button-trans:hover .dot {
    background-color: var(--clr-primary-gray);
}


body {    
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

input[type="text"] {
    height: inherit;
    font-size: inherit;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

input[type="text"]:focus {
    outline: none;    
}

input[type="text"]::-webkit-input-placeholder { /* Edge */
    padding-left: 1em;
    color:#8FC1E3;
    font-style: italic;
    letter-spacing: 0.4em;
    text-align: justify;
}
  
input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    padding-left: 1em;
    color:#8FC1E3;
    font-style: italic;
    letter-spacing: 0.4em;
    text-align: justify;
}

header {
    font-family: 'Odibee Sans', cursive;
    font-size: 5.5rem;
    text-indent: 0.45rem;
    letter-spacing: 0.45em;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
  
#app-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#content {
    height: 75vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 80vw;
}

#chat-container {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#messages-container {
    width: 100%;
    flex-grow: 19;
    padding-top: 1rem;
    padding-left: 1rem;
    margin-bottom: 3rem;
    font-size: inherit;
}

#send-container {
    width: 100%;
    flex-grow: 1;
}

#send-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 4rem;
}

#send-input {
    flex-grow: 95;
    user-select: none;
}

#send-button {    
    flex-grow: 5;
}

#join-container {
    height: 75%;
    width: 50%;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}

#join-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 30px;
    width: 100%;
}

#join-input {
    flex-grow: 95;
    min-width: 140px;
}

#join-button {
    flex-grow: 5;
}
