/* :root {
    --clr-primary-light1: #9296F0;    
    --clr-primary-light2: #5B63B7;
    --clr-primary-light3: #CBCCFF;
    --clr-primary-highlight: #000000;
} */

/* :root {
    --clr-primary-light3: #E2B659;    
    --clr-primary-light2: #B87C4C;
    --clr-primary-light1: #7F4D3E;
    --clr-primary-highlight: #000000;
} */

:root {
    --clr-primary-light2: #5A1619;    
    --clr-primary-light1: #D1E7E0;
    --clr-primary-light3: #FFF4F2;
    --clr-primary-highlight: #EE6463;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-style: normal;
    font-family: 'Roboto', sans-s;
    outline: none;
    font-size: 1.8rem;
}


@keyframes flash {
  0% {
    filter: brightness(100%);
  }   
  25% {
    filter: brightness(80%);
  }
  100% {
    filter: brightness(100%);
  }
}


@keyframes spin {  
  0% {
    transform: rotate(0deg) scale(0);
  }   
  10% {
    transform: rotate(180deg) scale(.1);
  }     
  40% {
    transform: rotate(360deg) scale(.2);
  }    
  60% {
    transform: rotate(540deg)  scale(.3);
  }     
  80% {
    transform: rotate(720deg) scale(.5);
  } 
  90% {
    transform: rotate(900deg) scale(.7);
  } 
  100% {
    transform: rotate(1080deg) scale(1);
  } 
}


@keyframes fade-in {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 

html {
    font-size: 62.5%
}

header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

h1 {
    font-size: 5rem;
    font-family: 'Anton', sans-serif;
    /* letter-spacing: 0.1em; */
    text-indent: 0.2em;
    min-width: 32rem;
}

input[type=text] {
    background: var(--clr-primary-light1);    
    padding: 1em 1em;
    border-radius: 1.5em 0 0 1.5em;
}

::placeholder {
    color: var(--clr-primary-light2);
    filter: brightness(50%);
    text-decoration: italic;
}

::-webkit-input-placeholder {
    color: var(--clr-primary-light2);
    filter: brightness(50%);
    text-decoration: italic;
}

input:focus, input:hover, input:active, 
button:focus, button:hover, button:active {    
    animation: flash .5s linear;
}


button {
    display: inline-block;
    color: var(--clr-primary-light2);
    border-radius: 0 1.5em 1.5em 0;
    cursor: pointer;
}

button:hover {
    animation: flash .5s linear;
}

footer {
    font-size: 1.2rem;
    font-style: italic;
    margin-left: auto;
}
  
ul {
    height: 100%;
    overflow-y: auto;
}

li {
    list-style: none;
    word-break: break-word;
}

li:nth-child(even) {
    background: #00000010;
}

.bg-light1 {
    background: var(--clr-primary-light1);
}

.fg-light1 {
    color: var(--clr-primary-light1);
}

.bg-light2 {
    background: var(--clr-primary-light2);
}

.fg-light2 {
    color: var(--clr-primary-light2);
}


.bg-light3 {
    background: var(--clr-primary-light3);
}

.fg-light3 {
    color: var(--clr-primary-light3);
}

.bg-highlight {
    background: var(--clr-primary-highlight);
}

.fg-highlight {
    color: var(--clr-primary-highlight);
}

.shadow {
    box-shadow: 5px 10px #00000040;
}

.cat-icon {
    width: 1.9em;
    object-fit: cover;
    display: inline-block;
    margin: 0 0.0em 0.2em 0.1em;
    animation: spin 1.5s linear, fade-in 1.5s ease-in;
}

.send-arrow {
    margin-left: 1.2em;
    width: 0;
    height: 0;
    border: 0 solid #444444;
    border-width: 0.55em;
    border-radius: 1.5em;
}

.send-arrow:hover {
    transition: 0.5s;
    margin-left: 1.2em;
    border: 0 solid transparent;
    border-top-width: 0.55em;
    border-bottom-width: 0.55em;
    border-left: 1.45em solid #444444;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 0 4rem;
    width: 109rem;
    max-width: 100%;
    min-height: 100%;
}

.chat-container {
    border-radius: 1.5rem;
    width: 100%;
    min-height: 100%;
    margin-bottom: 1rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#messages-container {
    height: 59vh;
    min-height: 14rem;
    width: 100%;
    margin: 2rem auto;
    border-radius: 1.5em;
    padding: 1em;
}

#send-container {
    margin: 0 auto 2.5rem;
    width: 100%;
}

#send-form {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

#send-input {
    height: 100%;
    width: 100%;
}

#send-button {
    height: 100%;
    font-size: 1.2rem;
    letter-spacing: 0.2em;
    min-width: 6rem;
    z-index: 1;
}
